.App {
  text-align: center;
}

.smaller-text {
  font-size: smaller;
}

.title {
  font-family: "Archivo", sans-serif;
  font-size: 2.5em;
}

.link {
  color: #0000ee;
}

.link:visited {
  color: #551a8b;
}
